name: bench_push
on: [push]
jobs:
  build:
    name: Benchmark (push)
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.15
      uses: actions/setup-go@v2
      with:
        go-version: 1.15
      id: go

    - name: Check out code 
      uses: actions/checkout@v1

    - name: Get dependencies
      run: | 
            go mod download
  
    - name: Benchmark (against HEAD~1)
      run: |
       export PATH=$PATH:$GOBIN
       go get golang.org/x/perf/cmd/benchstat
       echo "New Commit:"
       git log -1 --format="%H"
       go test -bench=. -count=7 > $HOME/new.txt
       git reset --hard HEAD
       git checkout HEAD~1
       echo "Base Commit:"
       git log -1 --format="%H"
       go test -bench=. -count=7 > $HOME/old.txt
       benchstat $HOME/old.txt $HOME/new.txt
