name: bench_pr
on: [pull_request]
jobs:
  build:
    name: Benchmark (PR)
    runs-on: ubuntu-latest
    env:
      GOBIN: /home/runner/go
    steps:
    - name: Set up Go 1.18
      uses: actions/setup-go@v3
      with:
        go-version: 1.18
      id: go

    - name: Check out code 
      uses: actions/checkout@v1

    - name: Get dependencies
      run: | 
            go mod download
  
    - name: Benchmark against GITHUB_BASE_REF
      run: |
       go install golang.org/x/perf/cmd/benchstat@latest
       echo "New Commit:"
       git log -1 --format="%H"
       go test -bench=. -benchtime=100x -count=8 > $HOME/new.txt
       git reset --hard HEAD
       git checkout $GITHUB_BASE_REF
       echo "Base Commit:"
       git log -1 --format="%H"
       go test -bench=. -benchtime=100x -count=8 > $HOME/old.txt
       $GOBIN/benchstat $HOME/old.txt $HOME/new.txt
       
