name: Go
on: [push]
jobs:

  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.12
      uses: actions/setup-go@v1
      with:
        go-version: 1.12
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Get dependencies
      run: | 
            go get github.com/golang/dep/cmd/dep
            dep ensure

    - name: Build
      run: make
   
    - name: Test
      run: make test

