name: build
on: [push, pull_request]
jobs:

  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.18
      uses: actions/setup-go@v2
      with:
        go-version: 1.18
      id: go

    - name: Check out code 
      uses: actions/checkout@v1

    - name: Get dependencies
      run: |
            go mod download


    - name: Build
      run: |
            make build-fast
   
    - name: Test
      run: |
            make test
       

